<link rel="stylesheet" href="/stylesheets/flashMsg.css">
<div class="parentDiv">
    <div id="errorMsg">
        <%= errorMsg %>
    </div>
    <span id="cross">&times;</span>
</div>
<script src="/js/flashMsg.js"></script>