<link rel="stylesheet" href="/stylesheets/homePoster.css">
<div id="PosterContainer">
    <a href="/book/The%20Invisible%20Man" id="bookLink">
        <img src="/images/invisibleMan.png" alt="poster1" class="poster">
    </a>
    <button id="arrowKey">
        <img src="/images/next.png" alt="">
    </button>
</div>
<script src="/js/posterButton.js"></script>