<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%= successMsg %>
    <%= errorMsg %>
    <% if(!signedInUser) {%>
    <a href="/auth/register">register</a>
    <a href="/auth/login">Login</a>
    <% } else { %>
    <a href="/auth/logout">Logout</a>
    <% } %>
    <h1>home page</h1>
    <form action="/search">
        <input type="text" placeholder="Search for book" name="bookName">
        <button>Search</button>
    </form>
    <ul>
        <% for(let id in booksArr){%>
        <li>
            <a href="/book/<%=booksArr[id].title%>">
                <img src="<%=booksArr[id].imageLink%>" alt="">
            </a>
        </li>
        <% } %>
    </ul>
</body>

</html>