<%-include("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/auth.css">
<title>BookHub: Login</title>
</head>

<body>
    <% if(successMsg && successMsg.length>=1){ %>
    <%- include("partials/flashSuccess") %>
    <% } %>
    <% if(errorMsg && errorMsg.length>=1){ %>
    <%- include("partials/flashError") %>
    <% } %>
    <h1>Login</h1>
    <div id="Loginbox">
        <form action="/auth/login" method="POST">
            <div id="usrname">
                <label for="username">Username </label>
                <input type="text" name="username" id="username" placeholder="Enter Username">
            </div>
            <div id="pass">
                <label for="password">Password </label>
                <input type="password" name="password" id="password" placeholder="Enter Password">
            </div>
            <div id="button">
                <button>Sign In</button>
            </div>
        </form>
        <div id="span">New to BookHub? <a href="/auth/register"> <b>Sign Up Now</b></a></div>
    </div>
</body>

</html>