<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(successMsg && successMsg.length){%>
    <%= successMsg %>
    <% } %>
    <% if(errorMsg && errorMsg.length){%>
    <%= errorMsg %>
    <% } %>
    <h1>register</h1>
    <form action="/auth/register" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter username">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Enter email">
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" name="password" id="password">
        </div>
        <button>Submit</button>
    </form>
</body>

</html>