<%- include("layouts/boilerplate") %>
<title>BookHub View Book</title>
</head>

<body>
    <div id="bookId">
        <%=data.bookId%>
    </div>
    <div id="viewerCanvas" style="display: flex; justify-content: center;">
        <script type="text/javascript" src="https://books.google.com/books/previewlib.js"></script>
        <script type="text/javascript">
            let bookId = document.querySelector("#bookId");
            bookId.style.color = "transparent";
            bookId.style.display = "inline";
            GBS_insertEmbeddedViewer(bookId.innerText, 600, 800);
        </script>
    </div>
</body>

</html>